/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

html, body {
  height: 100%; /* html and body takes the full height */
  margin: 0; /* remove default margin */
}

* {
  margin: 0; /* removes default margin for all elements */
  padding: 0; /* removes default padding for alll elements */
  box-sizing: border-box; /* ensures padding and borders are included in the elements width/height */
}

body {
  background-image: url(../assets/images/background.png);
  background-size: cover; /* covers the whole screen and scales */
  background-repeat: no-repeat; /* doesnt repeat background */
  background-position: left; /* stuck on the left */
  display: flex; /* use flexbox */
  flex-direction: column; /* stack elements vertically */
  font-family: 'alexandria', Helvetica, sans-serif;
  font-weight: 200;
  color: #ffffff;
}


input,
button,
texteara {
  font-family: inherit; /* buttons and forms will have the same font as the body */
}

.navbar {
  position: relative;
  background-color: transparent;
  z-index: 5; /* makes sure its on top of the hero picture and dark overlay */
  display: flex; /* creates a flex container */
  justify-content: space-between; /* spaces items on opposites sides */
  align-items: center; /* centers items within the header */
  padding: 0 5%; /* adds horizontal padding for spacing */
}

.logo img {
  max-height: 80px;
  max-width: 100%;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 80px;
}


.nav-links a {
  color: #ffffff;
  text-decoration: none; /* remove underline from links */
  font-size: 1em;
  font-weight: 400;
}

.nav-links a:hover {
  color: #801889;
}

.nav-links a:active {
  color: #db21cc;
}

#search {
  font-weight: 400;
  font-size: 0.8em;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh; /* adjust this height to fit the design */
  background-image: url(/assets/images/hero-image.jpg); /* background image */
  background-size: cover; /* make sure the image covers the entire section */
  background-position: center; /* centers the image */
  position: relative; /* keeps the section in normal flow */
  flex-shrink: 0; /* prevents it from shrinking */
}

.hero-section::before {
  content: ""; /* necessary for pseudo-elements */
  position: absolute; /* position it on top */
  top: 0; /* align to top */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% black */
  z-index: 1;
}

.hero-text {
  display: flex; /* flexbox */
  flex-direction: column; /* stack text vertically */
  align-items: center; /* center text horizintally */
  text-align: center; /* center text */
  margin: auto;
  z-index: 2;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1em;
  font-weight: 300;
  width: 50%;
  margin-bottom: 20px;
}

.button {
  font-size: 1em;
  font-weight: 400;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #130a7d;
  color: white;
}

main {
  margin-top: 40px; /* space between the hero section and main */
}

.best-sellers {
  margin-left: 5%;
  margin-bottom: 1%;
  font-weight: 400;
  font-size: 2rem;
}

.best-sellers-games img {
  width: 16vw; /* image width scales based on the viewport width */
  height: 16vw; /* height matches width to maintain the square shape */
  object-fit: cover; /* crops the image to the size */
  border-radius: 7%;
}

.best-sellers-games {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

/* media for responsive design */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 3%;
  }

  .nav-links {
    gap: 30px; /* reduce gap on smaller screens */
  }

  .logo {
    height: auto;
    width: 100px;
  }

  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 0.9em;
  }

  #search {
    display: none;
  }
  
  .hero-section {
    height: 70%;
  }
}